@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	letter-spacing: 0px;
}

#container {
	display: block;
	width: 1650px;
	margin: 0px auto;
	padding-left: 0px;
	background-color: #fff3ed;
}

#main-title {
    font-size: 40px;
	margin: 0px;
    text-align: center;
	background-color: #dedede;
	padding: 20px 0px;
}


#main-title img {
	width: 40px;
	height: 30px;
}

.group {
	width: 100%;
}

.idiom (
	width: 800px;
	height: 800px;
	display: inline-block;
}

#idiom6 {
	padding-bottom: 200px;
}

.desc {
	display: block;
	text-align: left;
	width: 80%,
	margin: 0px auto;
}

.group-title {
	display: block;
	font-size: 20px;
	text-align: center;
	width: 100%,
	margin: 0px auto;
}
